@font-face {
    font-family: 'Inter';
    src: url(./vendor/fonts/Inter/Inter-Regular.otf);
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(./vendor/fonts/Inter/Inter-Bold.otf);
    font-weight: bold;
  }



.page {
    background-color: #2A2C2F;
    min-width: 320px;
    max-width: 1280px; 
    padding: 0;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 48px * 2);
    max-width: 1184px;
    min-height: 52px;
    margin: 0 auto;
    padding: 28px 0 0 0;
    border: solid red 1px;
}

@media screen and (max-width: 1023px) {
    .header {
    width: calc(100% - 24px * 2);
    }
}

@media screen and (max-width: 767px) {
    .header {
    width: calc(100% - 16px * 2);
    padding: 16px 0 0 0;
    min-height: 42px;
    }
}

.header__logo {    
    position: relative;
    background-image: url(./sprint-3-images/header-logo.svg);
    background-size: cover;
    width: 176px;
    height: 52px;    
    z-index: 1;  
}



@media screen and (max-width: 767px) {
    .header__logo {
    width: 142px;
    height: 42px;
    }
}

.header__links {
    display: flex;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header__links {
    margin: 0;
    }
}

.header__lang-link {
    color: white;
    width: 30px;
    height: 28px;
    padding: 18px 0px 6px 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: none;
}

.header__lang-link:hover {
    text-decoration-line: underline;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
    padding: 14px 0px 8px 8px;
    font-size: 18px;
    line-height: 20px;   
    width: 22px;
    height: 20px;
    }
}

.lead {    
    display: flex;
    flex-direction: column;
    min-height: 962px;
    width: calc(100% - 48px * 2);
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    border: solid rgb(166, 255, 0) 1px;
}

@media screen and (min-width: 1280px) {
    .lead {
    min-height: 1005px;
    width: calc(100% - 148px * 2);
    margin: 0 auto;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
    min-height: 862px;
    width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead {
    min-height: 406px;
    width: 100%;
    }
}

.lead__title {
    width: calc(100% - 104px * 2);
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;    
    margin: 0px;
}

@media screen and (min-width: 1280px) {
    .lead__title  {
    width: calc(100% - 132px * 2);    
    }
}

@media screen and (max-width: 1023px) {
    .lead__title  {
    width: calc(100% - 24px * 2);    
    }
}

@media screen and (max-width: 767px) {
    .lead__title  {
    width: calc(100% - 16px * 2);
    padding-top: 33px;
    font-size: 40px;
    line-height: 44px;
    }
}

.lead__subtitle {
    width: calc(100% - 144px * 2);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 56px;  
    margin: 0px;
}

@media screen and (min-width: 1280px) {
    .lead__subtitle  {
    width: calc(100% - 172px * 2);
    padding-bottom: 64px;   
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle  {
    width: calc(100% - 64px * 2);    
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle  {
    width: calc(100% - 16px * 2);
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    }
}

.lead__image {
    width: 100%;   
    margin: 0px;   
    background-image: url(./sprint-3-images/__image.png);
    background-size: cover;
    min-height: 580px;
}


@media screen and (min-width: 1280px) {
    .lead__image {
    min-height: 615px;    
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
    min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
    min-height: 200px;
    }
}


.lead__caption {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    flex-direction: column;    
    margin: 0px;
    padding: 0;
    padding-top: 8px;
}

@media screen and (max-width: 1023px) {
    .lead__caption  {
    padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption  {
    padding-left: 16px;
    }
}

.intro {    
    display: flex;
    flex-direction: column;
    min-height: 429px;    
    min-width: 690px;   
    padding: 92px 286px 92px 48px;
    border: solid rgb(112, 199, 223) 1px;
    margin: 0px;  
}

@media screen and (min-width: 1280px) {
    .intro {
    padding: 92px 422px 92px 148px;    
    }
}

@media screen and (max-width: 1023px) {
    .intro {
    padding: 88px 24px;
    min-height: 429px;    
    min-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
    padding: 64px 16px;        
    min-width: 288px;
    }
}

.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0px;
}

@media screen and (max-width: 767px) {
    .intro__title  {
    font-size: 32px;
    line-height: 35px;
    }
}

.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    padding-top: 40px;
    margin: 0px;
}

.intro__list {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    padding-top: 33px;
}

@media screen and (max-width: 767px) {
    .intro__list {    
    padding-top: 34px;
    }
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 14px;
    margin: 0 48px 0;
    border: solid rgb(0, 0, 255) 1px;
}

.photo-grid__item {    
    max-width: 100%;
    object-fit: cover;
}

.places {        
}

.place {
    display: grid;
    max-width: 984px;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "title website"    
    "image paragraph";
    align-items: end;
    column-gap: 40px;
    padding: 92px 48px 80px 48px;
    margin: 0;
    border: solid red 1px;
}

.place__title {
    grid-area: title;
}

.place__website {
    grid-area: website;
}

.place__image {
    grid-area: image;    
    min-width: 320px;
    max-width: 460px;
    
}

.place__paragraph {
    grid-area: paragraph;
    align-self: start;
}

.cover__link {
    position: relative;
    background-image: url(./sprint-3-images/__background.png);
    background-size: cover;
    display: flex;
    width: 100%;
    min-height: 640px;
    flex-direction: column;
    align-items: center;
    color: white;    
    text-decoration: none;
    padding: 0;
    margin: 0;
    z-index: 1;

}

.cover__link::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: black;
    content: '';
    opacity: .3;
    transition: .8s;
}

.cover__link:hover::before {
    opacity: .8;
}

@media screen and (min-width: 1280px) {
    .cover__link {
    min-height: 740px;
    width: calc(100% - 48px * 2);
    margin: 0 auto;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
    min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
    min-height: 200px;
    }
}

.cover__title {    
    width: calc(100% - 232px * 2);
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0px;
    padding: 0;
    padding-top: 195px;    
}

@media screen and (min-width: 1280px) {
    .cover__title  {
    width: calc(100% - 312px * 2);
    padding-top: 245px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title  {
    width: calc(100% - 104px * 2);
    padding-top: 115px; 
    }
}

@media screen and (max-width: 767px) {
    .cover__title  {
    width: calc(100% - 16px * 2);
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
    }
}

.cover__subtitle {    
    width: calc(100% - 332px * 2);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;    
    margin: 0px;
    padding: 0;
    padding-top: 32px;
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {  
    width: calc(100% - 412px * 2);    
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
    width: calc(100% - 204px * 2);    
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: calc(100% - 16px * 2);
    padding-top: 16px;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    max-width: 1184px;
    min-height: 18px;
    margin: 0 auto;
    padding: 92px 48px 24px 48px;    
    border: solid red 1px;
}

@media screen and (max-width: 1023px) {
    .footer {
    padding: 88px 24px 24px 24px; 
    }
}

@media screen and (max-width: 767px) {
    .footer {    
    flex-direction: column;
    padding: 64px 118px 24px 16px;
    min-height: 310px;
    min-width: 186px;        
    }
}

.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none; 
}

@media screen and (max-width: 767px) {
    .footer__links {
    margin: 0;
    display: flex;
    flex-direction: column;
    }
}

.footer__link {
    display: flex;
    color: white;
    margin: 0;
    padding: 0;
    padding-right: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    text-decoration: none;  
}

.footer__link:hover {
    opacity: .8;
    transition: .8s;
}

@media screen and (max-width: 767px) {
    .footer__link {
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    }
}

.footer__copyright {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    text-align: left;
    }
}