.place__image {
    grid-area: image;
    width: 100%;
    min-width: 320px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .place__image {
    width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
    width: 100%;
    }
}