.lead__title {
    width: calc(100% - 104px * 2);
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;    
    margin: 0px;
}

@media screen and (min-width: 1280px) {
    .lead__title  {
    width: calc(100% - 132px * 2);
    }
}

@media screen and (max-width: 1023px) {
    .lead__title  {
    width: calc(100% - 24px * 2);    
    }
}

@media screen and (max-width: 767px) {
    .lead__title  {
    width: calc(100% - 16px * 2);
    padding-top: 33px;
    font-size: 40px;
    line-height: 44px;
    }
}