.lead__subtitle {
    width: calc(100% - 144px * 2);
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 56px;  
    margin: 0px;
}

@media screen and (min-width: 1280px) {
    .lead__subtitle  {
    width: calc(100% - 172px * 2);
    padding-bottom: 64px;   
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle  {
    width: calc(100% - 64px * 2);    
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle  {
    width: calc(100% - 16px * 2);
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    }
}