.place__link {
    display: flex;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    margin: 0;
    padding-top: 12px;
}

.place__link:hover {
    opacity: .8;
    transition: .8s;
}